[Unit]
Description=Restart Clash after resume
After=clash.service

[Service]
Restart=always
ExecStart=%h/bin/clash-resume.sh

[Install]
WantedBy=clash.service
